*.iml
.gradle/
**/build/
/local.properties
/.idea/
.DS_Store
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.kotlin/
*.log
*.hprof
.cxx/
captures/
*.jks
*.keystore
!debug.keystore
.deps/
guest/**/target/
guest/**/Cargo.lock
